body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.formclass {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #cbc9c9;
    border-radius: 8px;
}

textarea {
    resize: vertical;
}

input[type="submit"] {
    background-color: #3776ba;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0355ac;
}